{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/delete.css' %}" />
{% endblock %}

{% block content %}

<div class="delete-container">
  <h1>Delete Item</h1>
  <h3>Are you sure you want to delete <span>{{ object.name }}</span>?</h3>
  <form action="" method="POST" class="delete-actions">
    {% csrf_token %}
    <input type="submit" value="Yes - Delete" class="btn btn-danger">
    <a href="{% url 'item-detail' object.id %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
