{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/items/item-index.css' %}"
  />
{% endblock %} {% block content %}

<div class="page-header">
  <h1>My Items</h1>
  <img src="{% static 'images/header_img.png' %}" alt="header image" />
</div>
  

<section class="item-container">
  {% for item in items %}
    <div class="card">
      <a href="{% url 'item-detail' item.id %}">
        <div class="card-content">
          <div class="item-img-container">
            <img
              src="{% static 'images/treasure-chest.png' %}"
              alt="Treasure"
            />
          </div>
          <h2 class="card-title">{{ item.name }}</h2>
          {% if item.price > 0 %}
          <p>I bought this for ${{ item.price }}!</p>
          {% else %}
          <p>I got this item for free!</p>
          {% endif %}
          <p><small>{{ item.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}