{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/priceless_logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Priceless</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <img src="{% static 'images/priceless_logo.png' %}" alt="Priceless logo" />
        <h1 class="header-logo-text"></h1>
      </div>
    </header>

    <nav class="site-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'item-index' %}">My Items</a></li>
        <li><a href="{% url 'item-create' %}">Add Items</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </nav>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>
