.page-content {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  margin: 20px 0;
}

.page-content p {
  font-size: 1.2rem;
  color: #000000;
}

.page-content img {
  height: 60px;
  width: auto;
}